# =========================
# DATABASE (AIVEN POSTGRES)
# =========================
DATABASE_URL=postgres://avnadmin:<redacted>@central-transfers-central-transfers.c.aivencloud.com:16880/defaultdb?sslmode=require

# =========================
# WHATSAPP
# =========================
WHATSAPP_TOKEN=SEU_TOKEN_REAL
WHATSAPP_PHONE_NUMBER_ID=SEU_PHONE_NUMBER_ID
WHATSAPP_API_VERSION=v20.0

# =========================
# CONFIG
# =========================
WHATSAPP_VERIFY_TOKEN=central_transfers_token_2024
ALLOWED_ORIGINS=*
APP_VERSION=1.0.0